<!doctype html>
<html>
 <head>
  <meta charset="utf-8" />
  <title>Robo Profiles</title>
  <link rel="stylesheet" type="text/css" href="css/style.css" />
  <link rel="stylesheet" type="text/css" href="/css/style.css" />
 </head>
 <body>
   <h1>Robot Profile:</h1>
   <div class="links">
     <a href="/" class="home">Home</a>
     <a href="unemployed" class="unemployed">Robots Looking for Work</a>
     <a href="employed" class="employed">Working Robots</a>
   </div>
   <div id="profile">
    {{#robots}}
     <div class="header">
       <img src="{{avatar}}" />
       <h1>{{name}}</h1>
       <p>
         {{address.city}}, {{address.country}} | {{job}}{{^job}}Available for hire{{/job}}, {{company}} {{email}} | {{phone}}
       </p>
       {{#university}}
       Education:
       <li>
        {{university}}
       </li>
       {{/university}}
       {{^university}}
       {{/university}}
       Skills:
       {{#skills}}
       <li>
         {{.}}
       </li>
       {{/skills}}
       {{^skills}}
       {{/skills}}
     </div>
    {{/robots}}
   </div>
 </body>
</html>
